body {
  background-color: black;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  font-size: 1em;
  list-style: none;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin-left: 6vw;
  margin-bottom: 4em;
  cursor: pointer;
}
li:hover {
  color: grey;
}

.dot {
  width: 1em;
  padding-top: 1em;
  height:auto;
  margin-right: 1em;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid white
}

.yellow {
  background-color: #ded85b;
}
.blue {
  background-color: #9dcbeb;
}
.pink {
  background-color: #ea9de9;
}
.grey {
  background-color: grey;
}
.green {
  background-color: #88e798;
}
.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow_position {
  position: absolute;
  top: 75%;
  left: 51%;
}
.blue_position {
  position: absolute;
  top: 26%;
  left: 48%;
}
.pink_position {
  position: absolute;
  top: 26%;
  left: 32%;
}
.grey_position {
  position: absolute;
  top: 90%;
  left: 76%;
}
.green_position {
  position: absolute;
  top: 68%;
  left: 60%;
}
.red_position {
  position: absolute;
  top: 85%;
  left: 84%;
}

.orange_position {
  position: absolute;
  top: 61%;
  left: 43%;
}

.dot_resize {
  width:4%;
  height:auto;
  padding-top: 4%;
  border-radius: 100% !important;
}

.diagram {
  width: 50%;
  height: auto;
  position: absolute;
  margin: 1em;
}

.model {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  height: auto;
  right: 0;
  padding-right: 2em;
  margin: auto;
}

#pageOverlay {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  cursor: pointer;
  top: 0;
  bottom: 0;
  transition: all 0.3s linear;
  display: none;
}



.container {
  position: relative;
  width: 46%;
  margin: 2%;
  float: right;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
}

.area {
 margin:4em;

}

.moodboard {
  margin:inherit;
  width:40%;
  float:right;
  top:0;
  right:0;
  position: absolute;
  transition: all 0.4s ease;
}


.wireframe {
  margin:inherit;
  left:0;
  width:40%;
  float:left;
  bottom:0;
  position: absolute;
  transition: all 0.4s ease;
}

.wireframe:hover {
  transform: scale(1.1);
}

.wireframe:hover ~ .moodboard {
  transform: scale(0.8);
}

.moodboard:hover ~ .wireframe{
  transform: scale(0.8);
}

.moodboard:hover {
  transform: scale(1.1);
}







.instagram {
  padding:inherit;
  width:30%;
  float:right;
  bottom:0;
  right:0;
  position: absolute;
}




footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  border-top: 1px solid black;
}

/* Drop shadow */
.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.blur {
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
